<ion-card>
  <ion-card-header>
    <ion-card-title>Triángulo</ion-card-title>
    <ion-card-subtitle>Perímetro</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    El perímetro de un triángulo es la suma de las longitudes de sus tres lados. En otras palabras,
    es la medida total del contorno o borde del triángulo.
    <br>
    <ion-img src="TRIANGULO.jpg" alt="Perímetro del Triángulo" ></ion-img>
  </ion-card-content>
</ion-card>

<ion-list lines="none">
  <ion-item>
    <ion-input [(ngModel)]="trianguloA" type="number" label="ladoA (cm)" label-placement="floating" fill="solid" placeholder="Ingrese longitud"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="trianguloB" type="number" label="ladoB (cm)" label-placement="floating" fill="solid" placeholder="Ingrese longitud"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-input [(ngModel)]="trianguloC" type="number" label="ladoC (cm)" label-placement="floating" fill="solid" placeholder="Ingrese longitud"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="calcularPerimetro()">CALCULAR EL PERÍMETRO</ion-button>
  </ion-item>
  <ion-item>
    {{resultado}}
  </ion-item>
</ion-list>